.per-room-container {
  .per-room-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      span {
        font-size: 14px;
        color: #aaa;
      }
    }
  }
}
